@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ### Primary */

  --Soft-Blue: #5368df;
  --Soft-Red: #fa5757;

  /* ### Neutral */

  --Grayish-Blue: #9194a1;
  --Very-Dark-Blue: #252b46;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
